<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Dapper.Data" version="1.14.1" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.19.0" targetFramework="net452" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net452" />
</packages>